{%extends 'blog/basic.html'%}

{%block body%}
<div class="container mt-3">
<div class="row my-2">
      {% for item in myposts %}


    <div class="col-md-6">
      <div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary"><{{item.head0}}></strong>
          <h3 class="mb-0">{{item.tilte}}</h3>
          <div class="mb-1 text-muted">Nov 12</div>
          <p class="card-text mb-auto">{{item.head1}}</p>
          <a href="blogpost/{{item.post_id}}" class="stretched-link">Continue reading</a>
          {% comment %} We've used the <href> tag to redirect the user to the specific blog post.  {% endcomment %}

        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="/media/{{item.thumbnail}}"class="bd-placeholder-img" width="200" height="250"  aria-label="Placeholder: Thumbnail"></img>
        </div>
      </div>
    </div>
{% if forloop.counter|divisibleby:2%}
  </div><div class="row my-2">
  {%endif%}

  {%endfor%}</div>


  </div>
{%endblock%}
<!--Let's understand the above code. Inside the <div class="container mt-3">, we've used a for loop to iterate over the myposts variable that we rendered from the views.py file. Inside the for loop, we've used the Bootstrap blog template to show the first blog post. After this, we've used an if block to check whether the counter of the for loop is divisible by 2 or not. If the counter is divisible by 2, then a new row will be formed, and the remaining blog posts will be displayed in the next row. So, with the help of this logic, we can display two blog posts in a single row. Now, restart the development server and head over to the blog page. Do not forget to add more than two blog posts in the admin panel. -->